.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
  left: 0;
}

.spinner {
    width: 60px;
    height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 99999;
}
#layout-for-loading .loader-container {
  height: 100vh;
}
#layout-for-loading .spinner {
  position: fixed;
}
#layout-for-loading .lay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
